*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(92, 91, 172);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(33, 31, 129);
    font-size: 1.01rem;
}


.left{
    font-size: 1.5rem;
    color:rgb(220, 229, 236);
}
.left a{
    text-decoration: none;
    color: white;
}
.right{
    margin-bottom: -1rem;
}


@media screen and (max-width: 1200px) {

    nav{
        flex-direction: column;
    }
}
@media screen and (max-width: 500px) {
    nav{
        display:grid;
        justify-content:left;
    }
    nav ul li{
        margin: 5px 15px;
    }
  
}